<p-toast position="top-center"></p-toast>
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-4">Entra en tu cuenta</h2>
                        <div class="container">
                            <!--Declarramos formulario Template-->
                            <form (ngSubmit)="login()" autocomplete="off" #formulario="ngForm" class="well form-horizontal">
                                <div class="form-group mb-3">
                                    <label> Correo electrónico: </label>
                                    <!--Input indicando el campo que va a rellenar-->
                                    <input type="email" id="email" name="email" [(ngModel)]="usuario.email" #email="ngModel" class="form-control" placeholder="Introduzca su email" required pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{2,5}">                                    <span class="input-group">
                            </span>
                                    <span class="form-text text-danger" *ngIf="formulario.controls['email']?.errors && formulario.controls['email']?.touched">
                        Debe introducir un correo electrónico, Gracias.
</span>
                                </div>
                                <div class="form-group mb-3">
                                    <label> Contraseña </label>
                                    <!--Input indicando el campo que va a rellenar-->
                                    <input id="password" type="password" name="password" [(ngModel)]="usuario.password" #password="ngModel" class="form-control" placeholder="Introduzca la contraseña" required>
                                    <span class="form-text text-danger" *ngIf="formulario.controls['password']?.errors && formulario.controls['password']?.touched">
Debe introducir una contraseña, Gracias.
</span>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <!--Boton que se activa si todos los campos tienen valores validos y llama al metodo de registrar.-->
                                    <button type=" submit " class="btn btn-success" id="botonlogin" [disabled]="formulario.invalid">Entrar</button>
                                </div>
                                <div class="form-group mb-2">
                                    <p class="text-center text-muted mt-2 mb-0">No tengo cuenta, deseo <a routerLink="/registro" class="fw-bold text-body"><u>registrarme</u></a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
