<p-toast position="top-center"></p-toast>
<h1>Noticias de comunidad</h1>
<div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
    <div class="row align-items-center" *ngFor="let noti of listademensajes">
        <div class="col-md-8 mb-3 mb-sm-0">
            <h5>
                <a href="#" class="text-primary" *ngIf="noti.tipo=='noticia'">Noticia del Sistema</a>
                <a href="#" class="text-primary" *ngIf="noti.tipo=='fichaje'">Fichaje</a>
                <a href="#" class="text-primary" *ngIf="noti.tipo=='presupuesto'">Presupuesto</a>
            </h5>
            <p name="noticia" class="text-sm">{{noti.mensaje}}</p>
        </div>
    </div>