<br>
<div>
    <div class="table-responsive">
        <!--Indicamos el datatable con las opciones y el disparador-->
        <table style="width: 100%" class="row-border hover">
            <thead>
                <tr>
                    <th class="ancho-columna">Puesto</th>
                    <th class="ancho-columna">Equipo</th>
                    <th class="ancho-columna">Nombre</th>
                    <th class="ancho-columna">PTS</th>
                    <th class="ancho-columna">GF</th>
                    <th class="ancho-columna">GC</th>
                </tr>
            </thead>
            <!--Recorremos con un For la respuesta-->
            <tbody>
                <tr *ngFor="let item of clasificacion;let rowIndex = index">
                    <td *ngIf="rowIndex+1==1">
                        <div class="row">
                            <div class="col-1"><img src="assets/img/oro.png" alt="Medalla de oro"></div>
                            <div class="col-10">{{rowIndex+1}}</div>
                        </div>
                    </td>
                    <td *ngIf="rowIndex+1==2">
                        <div class="row">
                            <div class="col-1"> <img src="assets/img/plata.png" alt="Medalla de plata"></div>
                            <div class="col-10">{{rowIndex+1}}</div>
                        </div>
                    </td>
                    <td *ngIf="rowIndex+1==3">
                        <div class="row">
                            <div class="col-1"><img src="assets/img/bronce.png" alt="Medalla de bronce"></div>
                            <div class="col-10">{{rowIndex+1}}</div>
                        </div>

                    </td>
                    <td *ngIf="rowIndex+1!=1 && rowIndex+1!=2 && rowIndex+1!=3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{rowIndex+1}}</td>
                    <td>
                        <div class="box">
                            <img *ngIf="item.imagen!=null" class="img-fluid" style="width: 20%;" src={{obtenerImagen(item)}}>
                            <img class="img-fluid" *ngIf="item.imagen==null" style="width: 8%;" src="./../../../assets/img/logo.png">
                        </div>
                    </td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.puntos}}</td>
                    <td>{{item.golesAFavor}}</td>
                    <td>{{item.golesEncontra}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

