.box {
    width: 4.125rem;
    height: 4.125rem;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box img {
    align-items: center;
    width: 100%;
    height: auto;
}

@supports(object-fit: cover) {
    .box img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
