<div class="m-0 row justify-content-center">
    <div class="col-auto p-2">
        <h1 class="text-center">Bienvenido a Soccer Stars</h1>
        <p class="text-center"> Únete a una liga, crea el equipo de tus sueños comprando y vendiendo jugadores a otros usuarios, compite y crea la mejor alineación posible.</p>
        <div style="visibility: hidden">.</div>
        <img src="assets/img/imagen.jpg" class="img-fluid" alt="Banner">
    </div>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#reglas">
      Reglas
    </button>
</div>


<div class="modal fade" id="reglas" tabindex="1" aria-labelledby="#reglas" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Reglas Soccer Stars</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <div class="justify-content-around">
                    <h2 class="text-center">Reglas</h2>
                    <ul>
                        <li> Deberás unirte a una liga abierta y el administrador de esta aceptara su petición.</li>
                        <li>Una vez dentro de una liga se te asignan 15 jugadores aleatorios y se te asignará un presupuesto de 20 millones.</li>
                        <li>Cada jugador tendrá un valor de mercado y un porcentaje de victoria.</li>
                        <li>En jornadas podrás ver tus partidos y deberás crear tu alineación a tu gusto con los jugadores</li>
                        <li>Cuando el administrador decide jugar la jornada , los partidos se juegan automáticamente y el resultado será aleatorio en función de la probabilidad de victoria de cada jugador alineado.</li>
                        <li>IMPORTANTE: Si no presentas una alineación para un partido, perderás dicho partido y el rival se llevara la victoria (3-0)</li>
                        <li>En noticias de comunidad se comunicarán los movimientos de presupuestos, compras, ventas , mensajes del administrador… jugadores
                        </li>
                        <li>En tu bandeja de entrada, podrás ver mensajes de otros usuarios hacia ti u ofertas por alguno de tus jugadores.</li>
                        <li>En el mercado podrás comprar jugadores libres, o que se encuentren en venta , así que mantente atento a este para obtener los mejores.</li>
                        <li>En clasificación podrás ver tus puntos , goles a favor y en contra de cada equipo participante</li>
                        <li> Ver jugadores podrás vender jugadores de tu plantilla o despedirlos si lo consideras</li>
                        <li>En caso de algún problema , siempre podrás contactar con nosotros desde el apartado de contacto</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
